/* -----  flexbox  ------ */

.display-flex {
    display: flex!important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-row {
    flex-direction: row!important;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse!important;
}

.flex-direction-column {
    flex-direction: column!important;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse!important;
}

.justify-content-flex-start {
    justify-content: flex-start!important;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-flex-end {
    justify-content: flex-end!important;
}

.justify-content-space-between {
    justify-content: space-between!important;
}

.justify-content-space-around {
    justify-content: space-around!important;
}

.justify-content-space-evenly {
    justify-content: space-evenly!important;
}

.justify-content-stretch {
    justify-content: stretch!important;
}

.align-content-flex-start {
    align-content: flex-start!important;
}

.align-content-flex-end {
    align-content: flex-end!important;
}

.align-content-center {
    align-content: center!important;
}

.align-content-space-between {
    align-content: space-between!important;
}

.align-content-space-around {
    align-content: space-around!important;
}

.align-content-stretch {
    align-content: stretch!important;
}

.align-items-flex-start {
    align-items: flex-start!important;
}

.align-items-center {
    align-items: center!important;
}

.align-items-flex-end {
    align-items: flex-end!important;
}

.align-items-stretch {
    align-items: stretch!important;
}

.align-self-flex-start {
    align-self: flex-start!important;
}

.align-self-flex-end {
    align-self: flex-end!important;
}

.align-self-center {
    align-self: center!important;
}

.align-self-stretch {
    align-self: stretch!important;
}

/* -----  Positioning ----- */

.position-relative {
    position: relative!important;
}

.position-static {
    position: static!important;
}

.position-absolute {
    position: absolute!important;
}

.position-sticky {
    position: sticky!important;
}

/* ---- Text positioning ----- */

.text-align-center {
    text-align: center!important;
}

.text-align-left {
    text-align: left!important;
}

.text-align-right {
    text-align: right!important;
}

.text-align-justify {
    text-align: justify!important;
}

/* ----- Colors ----- */ 

.color-white {
    color: #fff!important;
}

.color-black {
    color: #000!important;
}

/* ---- Box-model ----- */

.no-padding {
    padding: 0!important;
}

.no-padding-top {
    padding-top: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

.no-padding-bottom {
    padding-bottom: 0!important;
}

.no-margin {
    margin: 0!important;
}

.no-margin-left {
    margin-left: 0!important;
}

.no-margin-top {
    margin-top: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.no-margin-right {
    margin-right: 0!important;
}

.no-border {
    border: 0!important;
}

.margin-left-auto {
    margin-left: auto!important;
}

.margin-right-auto {
    margin-right: auto!important;
}

.margin-top-auto {
    margin-top: auto!important;
}

.margin-bottom-auto {
    margin-bottom: auto!important;
}

/* ----- Display ----- */ 
.display-block {
    display: block!important;
}

.display-none {
    display: none!important;
}


/* ------ Background ------*/
.contain, .bg-contain {
    background-size: contain!important;
}

.cover, .bg-cover {
    background-size: cover!important;
}

.no-repeat, .bg-no-repeat {
    background-position: no-repeat;
}

.bg-position-center {
    background-position: center;
}

/* ----- Overflow ------*/

.overflow-hidden {
    overflow: hidden!important;
}

.overflow-auto {
    overflow: auto!important;
}

.overflow-scroll {
    overflow: scroll!important;
}

.overflow-horizontal-hidden {
    overflow-x: hidden!important;
}

.overflow-horizontal-auto {
    overflow-x: auto!important;
}

.overflow-horizontal-scroll {
    overflow-x: scroll!important;
}

.overflow-vertical-hidden {
    overflow-y: hidden!important;
}

.overflow-vertical-auto {
    overflow-y: auto!important;
}

.overflow-vertical-scroll {
    overflow-y: scroll!important;
}